@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}
html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  background-color: #f1f3f5;
  display: grid;
}
