.posts a {
  text-decoration: none;
  color: #343a40;
  grid-row: 1/2;
  grid-column: 1/3;
}
.post_preview {
  padding: 2rem;
  background-color: #fff;
  width: 60rem;
  min-height: 10rem;

  margin: 2rem;

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.116);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.post_preview:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.post_title {
  font-size: 2rem;
  grid-row: 1/2;
  grid-column: 1/3;
}
.post_author {
  grid-row: 2/3;
  grid-column: 1/2;

  font-size: 1.5rem;
}
.post_reactions {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row: 3/4;
  grid-column: 2/3;
}
.reaction_btn {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #0f7dde;
  margin: 0.5rem;
  margin-right: 1rem;
  transition: 0.3s ease;
}
.reaction_btn:hover {
  color: #f96b09;
  transition: 0.3s ease;
}
hr {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.post_reactions span {
  font-size: 2rem;
  color: #555;
}
