.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postInfo_container {
  margin: 2rem;
  background-color: #fff;
}
.postInfo_title_container {
  padding: 2rem;
  background-color: #333;
  position: relative;
}
.postInfo_title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
.postInfo_content {
  padding: 2rem;
  background-color: #fff;
  width: 70rem;
  min-height: 10rem;
}
.postInfo_body {
  width: 100%;
  font-size: 2rem;
}
.postInfo_votes {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
}
.postInfo_votes span {
  font-size: 2rem;
}
.commentsTitle {
  font-size: 2.3rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
}

.postInfo_hr {
  margin: 2rem;
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.postInfo_hr hr {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 0.1rem;
}
.comment_content {
  contain: content;
  padding: 2rem;
  font-size: 1.5rem;
  color: #343a40;
}
.comment_username {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  color: #555;
}
.comment {
  max-width: 70rem;
  margin: 2rem;
  border-left: 1rem solid #343a40;
  padding: 1rem;
}
.comments_answers_title {
  margin: 2rem;
}
.answering_section {
  margin-top: 5rem;
}
.comment_user_picture {
  border-radius: 500rem;
  width: 2rem;
  height: 2rem;
  margin: 0rem 0.5rem 0rem 1rem;
}

.reaction_btn {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #333;
  margin: 0.5rem;
  margin-right: 1rem;
  transition: 0.3s ease;
}
.reaction_btn:hover {
  color: #009688;
  transition: 0.3s ease;
}

.reaction_btn2 {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #009688;
  margin: 0.5rem;
  margin-right: 1rem;
  transition: 0.3s ease;
}
.edited {
  color: #fff;
  opacity: 100;
}
.not_edited {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}

.answ_edited {
  color: #333;
  opacity: 100;
  margin-right: 1rem;
}
.answ_not_edited {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}

.edit_post {
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: 1rem;
  opacity: 100;
}

.edit_post :hover {
  background-color: #fff;
  color: #009688;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 5000rem;
}

.edit_post_restricted {
  position: absolute;
  top: 2rem;
  right: 1rem;
  opacity: 0;
  width: 0;
  height: 0;
}

.delete_post {
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 7rem;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  opacity: 100;
  border-radius: 5000rem;
}

.delete_post :hover {
  color: red;
  transition: 0.3s ease;
  cursor: pointer;
}

.delete_post_restricted {
  position: absolute;
  top: 2rem;
  right: 7rem;
  width: 2rem;
  opacity: 0;
  width: 0;
  height: 0;
}

.edit_comment {
  color: #333;
  padding: 1rem;
  opacity: 100;
}

.edit_comment:hover {
  background-color: rgb(207, 207, 207);
  color: #009688;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 5000rem;
}

.edit_comment_restricted {
  opacity: 0;
  width: 0;
  height: 0;
}

.delete_comment {
  color: #333;
  height: 2rem;
  padding: 1rem;
  opacity: 100;
  border-radius: 5000rem;
}

.delete_comment:hover {
  color: red;
  transition: 0.3s ease;
  cursor: pointer;
}

.delete_comment_restricted {
  opacity: 0;
  width: 0;
  height: 0;
}

.comment_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment_actions {
  display: flex;
}
