.recent_posts_container {
  width: 20rem;
  min-height: 20rem;
  background-color: #fff;
  justify-self: center;
  grid-column: 3/4;
  grid-row: 1/2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.116);
}
.recent_posts {
  padding: 1rem;
}
.recent_posts a {
  text-decoration: none;
  color: #343a40;
}
.recent_post_title {
  font-size: 1.2rem;
  color: #343a40;
}
.recent_post_title {
  color: #343a40;
}

.recent_post {
  margin: 1rem;
  border: 1px solid rgb(165, 164, 164);
  padding: 0.5rem;
}
.recent_post:hover {
  border: 1px solid #0f7dde;
  cursor: pointer;
}
